.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  font-size: 20px;
  margin: 8px 0px;
  font-weight: bold;
}
.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 16px;
}


.phone_box {
  width : 50%;
  height: auto;
}

.phone_img {
  position : absolute;
  width : 70%;
  top: 20px;
  left: 150px;
}

.inside_img {
  background-color: black;
  position: absolute;
  width: 59%;
  height: 92%;
  top: 51px;
  left: 182px;
  border-radius: 40px;
}